# Loops Review

A basic while loop:

*   counter
*   condition
*   do something
*   iterate

In [0]:
counter = 0 
while counter < 10:
    print(counter)
    counter += 1

An undetermined number of repetitions:

* condition to exit
* do something

In [0]:
PASSWORD = "spam"
name = ""
while name != PASSWORD:
    name = input("What's the password?")

print("Welcome!")

# Counted Loops

When the number of iterations of a loop is **known**, a `for` loop is nice:

In [0]:
# Print the natural numbers 0 to 9.
for i in range(10):
    print(i)

# Note: this loop repeats 10 times.

In [0]:
# for is the keyword
# i is a variable declared automatically
# in is a keyword which works like in English
# range is built-in function* which produces a sequence of numbers
for i in range(10):
    # each time through this loop, i will change its value
    # according the values in the range
    print(i)
    # Can also ignore i entirely and just use it as a counter
    print('hi')

# *not exactly, but close enough for our purpose

## range()

Let's examine the `range()` function more closely:

In [0]:
# Use the tool tip: range

# What values would these produce?
# range(12)
# range(3, 14)
# range(0, 14, 2)
# range(10, 0, -1)

print("range(12) -->  ", end = '')
for i in range(12):
    print(i, end = ' ')

print("\n\nrange(3, 14) -->  ", end = '')
for i in range(3, 14):
    print(i, end = ' ')

print("\n\nrange(0, 14, 2) -->  ", end = '')
for i in range(0, 14, 2):
    print(i, end = ' ')

print("\n\nrange(10, 0, -1) -->  ", end = '')
for i in range(10, 0, -1):
    print(i, end = ' ')

range(12) -->  0 1 2 3 4 5 6 7 8 9 10 11

range(3, 14) -->  3 4 5 6 7 8 9 10 11 12 13

range(0, 14, 2) -->  0 2 4 6 8 10 12

range(10, 0, -1) -->  10 9 8 7 6 5 4 3 2 1

In [0]:
# notice that printing range(10) does not do what you might expect
print(range(10))

range(0, 10)

## For Loops with range()

**Simple Range**

> `range(stop)`

To produce a for loop that repeats `stop` times. The start value is assumed to be `0` and the step is `1` (see above code cell). To repeat *N* times use *N* for the range argument:

> `for i in range(N):` \\
`for i in range(30):`

Simple to remember. Except that the values that `i` takes are integers from `0` to `N - 1`.

**Start and Stop**

> `range(start, stop)`

To produce a for loop that requires specific `start` and `stop` values. The step is still assumed to be `1`. [If a `stop` is desired, a `start` value is *required* (why?).] To repeat using values of `i` starting from `a` and ending at `b-1`:

> `for i in range(a, b):` \\
`for i in range(50, 100):`

**Start and Stop and Step**

> `range(start, stop, step)`

To produce a for loop that requires specific `start`, `stop`, and `step` (increment) values. [If a `step` is desired, `start` and `stop` are *required* (why?).]  To repeat using values of `i` starting from `a`, ending at `b-1`, and incrementing by `c`:

> `for i in range(a, b, c):` \\
`for i in range(0, 101, 2):` \\
`for i in range(99, 0, -2):`

Note, if `step < 0` then `start` must be greater than `stop`.

## More For

Print the numbers from 0 to 10 (inclusive). Which are correct? Guess before running the code.

In [0]:
# 1
print("#1")
for i in range(10):
    print(i)

# 2
print("\n#2")
for j in range(11):
    print(j)

# 3
print("\n#3")
for k in range(0, 11):
    print(k)

You can see how a counted loop using `for` and `range` produces cleaner and shorter code than using a counter and `while`.

`for` is much more powerful, but *for* now, let's stick with counted loops.

Printing only odd numbers, muliples of 3, etc, are now even easier:

In [0]:
##### Finish the code #####
# Print odd numbers from 1 to 20: start at an odd number, step by 2
# code here
for i in range(1, 20, 2):
    print(i)

# Print multiples of three up to 30: start at 3, step by 3
# code here
print("\n")
for i in range(3, 31, 3):
    print(i)

1
3
5
7
9
11
13
15
17
19


3
6
9
12
15
18
21
24
27
30

## Accumulators

You can always use accumulators in conjuction with for loops.

Recall the sum of the natural numbers up to *N*:

In [0]:
##### Finish the code #####
# Sum of natural numbers up to N.
N = int(input("Enter a positive integer: "))
sum1 = 0
# start at 1, end at N
for i in range(1, N+1):
    print(i)
    sum1 += i

print("The sum is", sum1)

# clunkier code inside, but nicer range
sum2 = 0
# start at 0, end at N-1
for i in range(0, N-1):
    print(i*5)
    sum2 += i

print("The sum is", sum2)

In [0]:
##### Finish the code #####
# Average of N numbers.
N = int(input("Enter a positive integer: "))
print("Enter", N, "more numbers:")
total = 0
for i in range(1, N+1):
    print(i)
    total += i

avg = total/i
print("The average is about {:.3f}".format(avg))

Enter a positive integer: 6
Enter 6 more numbers:
1
2
3
4
5
6
The average is about 3.500

## Nested for loops

Let's try to print the numbers from 1 to 5 like this:
>`1`\
`22`\
`333`\
`4444`\
`55555`

In [0]:
##### Finish the code #####
# Use a nested loop
# The outside loop repeats 5 times; i takes values 1 - 5
for i in range(1, 6):
    # The inside loop repeats i times
    for j in range(1, i + 1):
        # Print the value of i
        print(i, end = "")
    # Don't forget to add a new line
    print("")

1
22
333
4444
55555

Another method would be to use the fact that Python can multiply strings:

In [0]:
print("hello" * 5)

In [0]:
##### Finish the code #####
for i in range(1, 6):
    # convert to string then multiply
    print(str(i)*i)

1
22
333
4444
55555

Printing a rectangular grid is also possible with nested loops:

In [0]:
for i in range(5):
    for j in range(5):
        print(i + j, end = " ")
    print()

# Exercises

Do these exercises using only for loops and/or nested for loops. Some are repeats of, or similar to, previous exercises, but do them again using a for loop. Which is easier?

1.   Print the integers in order from 1 to 125.

2.   Print the integers in order from 100 to 1.

3.   Print the even integers in order from -50 to 50.

4. Write a program to print the first 100 square numbers starting from 1.

5.   Print the sum of the odd integers from 0 to 500. (hint: it's 62500)

6. Write a program to calculate the factorial of *n*, written *n*!, where *n* is given by the user. (While loops exercise #9)

7. Write a program to get a positive integer *n* from the user and then display all the cubes up to *n*. Sample output:
> `Enter a positive integer: 5`\
`1 cubed is 1`\
`2 cubed is 8`\
`3 cubed is 27`\
`4 cubed is 64`\
`5 cubed is 125`

8. Write a program to display the multiplication table, up to 12, of a given positive integer. Sample output:
> `Input a positive integer: 15`\
`15 x 1 = 15`\
`...`\
`...`\
`15 x 12 = 180`

9. Write a program to print a triangle of numbers as in the output. The size of the triangle is given by the user. Sample output:
>`Enter a positive integer: 5`\
`1`\
`12`\
`123`\
`1234`\
`12345`

10. Write a program to print a right angle triangle of asterisks (`*`) where the base is given by the user. Sample output:
> `Triangle size: 4`\
`*`\
`**`\
`***`\
`****`

11. Write a program to print an isosceles triangle of asterisks (`*`) where the base is given by the user. Note the spaces between the stars in the output. Sample output:
><pre>Triangle size: 4
<code>   *</code>
<code>  * *</code>
<code> * * *</code>
<code>* * * *</code></pre>




12. Modify (copy and then modify) the previous program to draw a tree instead, where the tree size is the same as the triangle size. The trunk should be placed exactly in the middle of the tree and should have a length of one star for every 3 stars in the last row of the tree, rounded down. If a tree's size is less than three, it has no trunk. Sample output:
><pre>Tree size: 5
<code>    *</code>
<code>   * *</code>
<code>  * * *</code>
<code> * * * *</code>
<code>* * * * *</code>
<code>    *</code></pre>

13. Write a program that prints the multiplication table up to 12 * 12. Use a nested for loop. Try to format it nicely so that all numbers are right-aligned. Try printing this string: `"{:{width}}".format(1, width = 4)`. Sample output below:

In [0]:
   1   2   3   4   5   6   7   8   9  10  11  12
   2   4   6   8  10  12  14  16  18  20  22  24
   3   6   9  12  15  18  21  24  27  30  33  36
   4   8  12  16  20  24  28  32  36  40  44  48
   5  10  15  20  25  30  35  40  45  50  55  60
   6  12  18  24  30  36  42  48  54  60  66  72
   7  14  21  28  35  42  49  56  63  70  77  84
   8  16  24  32  40  48  56  64  72  80  88  96
   9  18  27  36  45  54  63  72  81  90  99 108
  10  20  30  40  50  60  70  80  90 100 110 120
  11  22  33  44  55  66  77  88  99 110 121 132
  12  24  36  48  60  72  84  96 108 120 132 144

#Exercise Solutions

In [0]:
# Exercise 1
# Prints the integers in order from 1 to 125

N = 125
for i in range(1, N + 1):
    print(i)

In [0]:
# Exercise 2 
# Prints the integers in order from 100 to 1

N1 = 100
N2 = 1
for i in range(N1, N2 + 1, -1):
    print(i)

In [0]:
# Exercise 3
# Prints the even integers in order from -50 to 50

N1 = -50
N2 = 50
for i in range(N1, N2 + 1, 2):
    print(i)

In [0]:
# Exercise 4
# Prints the first 100 square numbers starting from 1

N = 100
for i in range(1, N + 1):
    print(i**2)

In [0]:
# Exercise 5
# Prints the sum of the odd integers from 0 to 500

N = 500
sum = 0
for i in range(1, N + 1, 2):
    sum += i

print(sum)

62500

In [0]:
# Exercise 6
# Calculates n!, where n is given by the user (while loops exercise #9)

n = int(input("Enter a number: "))
product = 1
for i in range(1, n + 1):
    product *= i

print(product)

Enter a number: 3
6

In [0]:
# Exercise 7
# Get a positive integer n from the user and then display all the cubes up to n

n = int(input("Enter a positive integer: "))
for i in range(1, n + 1):
    print(i**3)

Enter a positive integer: 3
1
8
27

In [0]:
# Exercise 8
# Display the multiplication table, up to 12, of a given positive integer

n = int(input("Enter a positive integer: "))
for i in range(1, 13):
    print("{} x {} = {}".format(n, i, n*i))

In [0]:
# Exercise 9
# Prints triangle of numbers (size of the triangle is given by user)

n = int(input("Enter a positive integer: "))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = "")
    print("")

Enter a positive integer: 6
1
12
123
1234
12345
123456

In [0]:
# Exercise 10
# Prints right angle triangle of asterisks (*) where base is given by user

s = int(input("Triangle size: "))
for a in range(1, s + 1):
    for b in range(1, a + 1):
        print("*", end = "")
    print("")

In [0]:
# Exercise 11
# Prints isosceles triangle of asterisks where base is given by user

num_in_level = 1
total_num = int(input("Triangle size: "))
spaces = total_num + 1
for i in range(1, total_num + 2):
    for j in range (1, spaces):
        print(" ", end ="")
    for k in range(1, num_in_level):
        print("* ", end = "")
    print("")
    num_in_level += 1
    spaces -= 1

Triangle size: 21

                    *
                   * *
                  * * *
                 * * * *
                * * * * *
               * * * * * *
              * * * * * * *
             * * * * * * * *
            * * * * * * * * *
           * * * * * * * * * *
          * * * * * * * * * * *
         * * * * * * * * * * * *
        * * * * * * * * * * * * *
       * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *

In [0]:
# Exercise 12
# Prints tree of asterisks where widest leaves' length is given by user

# num_in_level represents the number of asterisks in 
# the first level of the tree's leaves
num_in_level = 1
# get total_num from user; represents the total number 
# of asterisks in the base of the tree which is the same
# as the total number of levels in the tree's leaves
total_num = int(input("Tree size: "))
# spaces represents the number of spaces before the first
# asterisk in the first level 
spaces = total_num + 1

# TREE LEAVES
# parent for loop iterates over the total number of levels for
# the leaves section of the tree
for i in range(1, total_num + 2):
    # nested for loop prints the number of spaces before the
    # first asterisk in the respective level
    for j in range (1, spaces):
        print(" ", end ="")
    # nested for loop prints the number of asterisks in the
    # respective level
    for k in range(1, num_in_level):
        print("* ", end = "")
    # blank print statement goes to the next line & allows for
    # the parent for loop to iterate again 1 level of leaves down
    print("")
    # number of asterisks in the next level is incremented by 1
    num_in_level += 1
    # number of spaces in the next level is decremented by 1
    spaces -= 1
# if statement does not print trunk of tree if there are fewer
# than 3 asterisks in the base of the tree

# TREE TRUNK
if not total_num < 3:
    # parent for loop goes calculates number of levels of the trunk
    # to display
    for i in range(1, int(round(total_num/3)+1)):
        # nested for loop calculates number of spaces before each
        # asterisk of the trunk;  number of spaces does not change
        # b/c each level in the trunk only contains 1 asterisk
        for i in range(1, total_num):
            print(" ", end = "")
        # print the asterisk for the respective level 
        print("*")

Tree size: 21

                    *
                   * *
                  * * *
                 * * * *
                * * * * *
               * * * * * *
              * * * * * * *
             * * * * * * * *
            * * * * * * * * *
           * * * * * * * * * *
          * * * * * * * * * * *
         * * * * * * * * * * * *
        * * * * * * * * * * * * *
       * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
                    *
                    *
                    *
                    *
                    *
                    *
                    *

In [0]:
# Exercise 13
# Prints the multiplication table up to 12 * 12

# N represents maximum number to display multiplication
# tables up to & the maximum value of that both the 
# rows & columns reach
N = 12

# parent for loop iterates up to N;  goes through each
# row of the multiplication table
for a in range(1, N + 1):
    # nested for loop iterates up to N;  goes through each
    # column of the multiplication table
    for b in range(1, N + 1):
        # display the value of the first value in the row 
        # multiplied by the value of first value in the column
        print("{:{width}}".format(a*b, width = 4), end = "")
    # print statement goes to next row of the multiplication table
    print("")

   1   2   3   4   5   6   7   8   9  10  11  12
   2   4   6   8  10  12  14  16  18  20  22  24
   3   6   9  12  15  18  21  24  27  30  33  36
   4   8  12  16  20  24  28  32  36  40  44  48
   5  10  15  20  25  30  35  40  45  50  55  60
   6  12  18  24  30  36  42  48  54  60  66  72
   7  14  21  28  35  42  49  56  63  70  77  84
   8  16  24  32  40  48  56  64  72  80  88  96
   9  18  27  36  45  54  63  72  81  90  99 108
  10  20  30  40  50  60  70  80  90 100 110 120
  11  22  33  44  55  66  77  88  99 110 121 132
  12  24  36  48  60  72  84  96 108 120 132 144
  13  26  39  52  65  78  91 104 117 130 143 156
  14  28  42  56  70  84  98 112 126 140 154 168